
@{
    ViewBag.Title = "Index";
}

<h2 style="text-align: center;">Your Project Management System</h2>
<hr/>
<h4 style="text-align: center;">Keep your work organized, interact with different people on the same projects as yout and always be up to date</h4>
<br/>
<img src="~/Images/task-management-tool.jpg" style="display: block;margin: 0 auto;" />